In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
%matplotlib inline

import csv

In [2]:
#Global Land and Ice Measurements Data Set
file = 'glims_clean.csv'
df = pd.read_csv(file)
#GLAC_NAME: not consistent DATE: recreated w/ just m & y 
#df = df.drop(columns = ["GLAC_NAME", "DATE", "PARENT_ID", "MAX_ELEV", "SRC_DATE", "WGMS_ID", "PRIMECLASS", "MIN_ELEV", "MEAN_ELEV"]) #wgi set doesnt include names 
df.rename(columns={'GLAC_ID':'ID'}, inplace=True)
df.head()

,Unnamed: 0,ANLYS_ID,ID,AREA,DB_AREA,WIDTH,LENGTH,PRIMECLASS,MIN_ELEV,MEAN_ELEV,...,REC_STATUS,GLAC_NAME,WGMS_ID,LOCAL_ID,GLAC_STAT,GEOG_AREA,PARENT_ID,DATE,YEAR,MONTH
0,0,101215,G286929E46788S,12.42590,12.42920,0.0,4786.66,0,0,0,...,okay,None,None,CLGC-9,exists,Antarctic Peninsula,NaN,2007-09-06 00:00:00,2007,9
1,1,101146,G286719E46755S,80.28420,80.31270,0.0,10225.60,0,0,0,...,okay,None,None,NPI-32,exists,Antarctic Peninsula,NaN,2007-09-06 00:00:00,2007,9
2,8,101162,G286570E46600S,118.68100,118.73700,0.0,27183.10,0,0,0,...,okay,None,None,NPI-6,exists,Antarctic Peninsula,NaN,2007-09-06 00:00:00,2007,9
3,14,101193,G286829E48560S,41.24430,41.25890,0.0,14192.90,0,0,0,...,okay,None,None,SPI-5,exists,Antarctic Peninsula,NaN,2007-09-06 00:00:00,2007,9
4,15,101581,G287590E47667S,5.76485,5.76413,0.0,3161.54,0,0,0,...,okay,None,None,MSL-8,exists,Antarctic Peninsula,NaN,2007-09-06 00:00:00,2007,9

In [3]:
#World Glacier Inventory Data Set
file2 = 'wgi.csv'
df2 = pd.read_csv(file2)
df2.rename(columns={'wgi_glacier_id':'ID'}, inplace=True)
df2.rename(columns={' total_area':'TotalArea'}, inplace=True)
df2.head()

,ID,lat,lon,TotalArea,max_length,mean_elev,max_elev,min_elev,topo_year,primary_class,tongue_activity,area_acy
0,AF5Q112C0001,35.388,69.258,0.19,0.7,4610,4750,4475,1959,6,0,3
1,AF5Q112C0008,35.362,69.294,0.78,2.3,4375,4500,4250,1959,6,0,3
2,AF5Q112C0028,35.469,69.591,0.45,0.9,4675,4800,4550,1959,6,0,3
3,AF5Q112C0033,35.483,69.607,0.14,0.4,4860,5000,4725,1959,6,0,3
4,AF5Q112C0047,35.567,69.769,2.28,3.5,4490,4800,4175,1959,5,0,3

In [4]:
glims_ids = list(set(df["WGMS_ID"]))
wgi_ids = list(set(df2["ID"]))

match2 =(set(glims_ids) & set(wgi_ids))
#print(match2) #2,117 matches

area = list(df2['TotalArea'])

"""
bins = range(0,25,4)
fix, ax = plt.subplots(nrows=len(df2), sharex=True)

area.hist(column="TotalArea", ax=ax, bins = bins, facecolor="green", edgecolor="white")
ax.set_title("Glacier Max Length for Glaciers above 60 Longitude", fontsize=20)
ax.set_xlabel("TotalArea", fontsize=16)
ax.set_ylabel("Quantity", fontsize=16)
ax.grid(alpha=0.25)
ax.set_axisbelow(True)"""

'\nbins = range(0,25,4)\nfix, ax = plt.subplots(nrows=len(df2), sharex=True)\n\narea.hist(column="TotalArea", ax=ax, bins = bins, facecolor="green", edgecolor="white")\nax.set_title("Glacier Max Length for Glaciers above 60 Longitude", fontsize=20)\nax.set_xlabel("TotalArea", fontsize=16)\nax.set_ylabel("Quantity", fontsize=16)\nax.grid(alpha=0.25)\nax.set_axisbelow(True)'